<launch>
    <group ns="head1">
        <master auto="start"/>

        <node pkg="roborts_detection" type="armor_detection_node" name="armor_detection_node" output="screen" respawn="true" />

        <node pkg="roborts_detection" type="armor_detection_client" name="armor_detection_client" output="screen" respawn="true" />
    </group>

    <group ns="head2">
        <master auto="start"/>

        <node pkg="roborts_detection" type="armor_detection_node" name="armor_detection_node" output="screen" respawn="true" />

        <node pkg="roborts_detection" type="armor_detection_client" name="armor_detection_client" output="screen" respawn="true" />
    </group>

</launch>
